/Debug
/pi
/.cproject
/Raspberry
/.project
/DebugPC
/DebugPi
/ReleasePC
/ReleasePi
/.project~
/.settings
/*.send
/.pydevproject
/__pycache__
/gmon.out
/perf.data
/oprofile_data
/SCP.log
/perf.data.old
