/.cproject
/.project
/.settings

/*.send
/SCP.log

/*.old
/*~

/.pydevproject
/__pycache__
/gmon.out
/perf.data
/oprofile_data


/Debug/ClientServer
/Debug/src/*.d
/Debug/src/*.o
/Debug/src/iniparser/*.d
/Debug/src/iniparser/*.o
/Debug
/DebugClient/
/DebugServer/
